/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montserrat+Alternates:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --hue: 200;
  --first-color: hsl(var(--hue), 80%, 49%);
  --first-color-alt: hsl(var(--hue), 76%, 45%);
  --white-color: hsl(0, 0%, 98%);
  --black-color: hsl(0, 0%, 1%);
  --text-color: hsl(var(--hue), 2%, 66%);
  --body-color: hsl(var(--hue), 100%, 1%);
  --container-color: hsl(var(--hue), 2%, 10%);
  --conic-gradient: conic-gradient(
    from 150deg at 50% 45%,
    hsl(var(--hue), 80%, 20%) 0deg,
    hsl(var(--hue), 80%, 48%) 140deg,
    hsl(var(--hue), 80%, 20%) 360deg
  );

  /*========== Font and typography ==========*/
  --body-font: "Montserrat Alternates", sans-serif;
  --second-font: "Grechen Fuemen", cursive;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1168px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: auto;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--white-color);
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ============== BLUR IMAGES LOADING ======================= */
.blurred-img {
  position: relative;
  overflow: hidden;
}

/* 1. The Placeholder (Small Image) */
.blurred-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--bg);
  background-size: cover;
  background-position: center;

  /* The Blur Effect */
  filter: blur(20px);
  transform: scale(1.1); 

  z-index: 0;
  
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

/* 2. The Real Image (Big Image) */
.blurred-img img {
  position: relative;
  z-index: 0;
  display: block;
  width: 100%;
  height: auto;

  /* Start hidden */
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

/* 3. The Loaded State (Triggered by JS) */
.blurred-img.loaded::before {
  opacity: 0; /* Fade the blur OUT */
}

.blurred-img.loaded img {
  opacity: 1; /* Fade the real image IN */
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1168px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2rem 3rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
}

/*=============== NAV ===============*/
.nav {
  position: fixed;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 98%, 0.1);
  width: 88%;
  margin-inline: auto;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 1rem 2rem;
  border-radius: 4rem;
  z-index: var(--z-fixed);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  color: var(--white-color);
  background-color: transparent;
  display: grid;
  place-items: center;
  transition: background-color 0.6s;
}

/* Active link */
.active-link {
  background-color: var(--first-color);
}

/*=============== HOME ===============*/
/*===== PERFIL =====*/
.perfil {
  position: relative;
  background: var(--conic-gradient);
  height: 415px;
  border-radius: 2rem;
  padding: 1rem;
  display: grid;
  overflow: hidden;
}

.perfil__blur {
  position: absolute;
  width: 100%;
  height: 100%;
}

.perfil__img {
  filter: grayscale(1) opacity(0.7);
  position: absolute;
  height: 129%;
  object-fit: cover;
  justify-self: center;
}

.perfil__blur img {
  transform: translate(0px, 0px);
  height: 100% !important;
}
.perfil__data {
  align-self: flex-end;
  background-color: hsla(0, 0%, 1%, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 1.1rem 1rem 1.2rem;
  border-radius: 1.5rem;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}
.perfil__name {
  font: var(--font-regular) var(--biggest-font-size) var(--second-font);
  margin-bottom: 1rem;
  text-align: center;
}

.perfil__buttons {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.perfil__buttons .button {
  padding: 0.75rem 0;
}
/*===== INFO =====*/
.info,
.about,
.skills {
  background-color: var(--container-color);
  padding: 2rem 1.5rem;
  border-radius: 2rem;
}
.info__data {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.info__circle {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--first-color);
}
.info__name {
  font: var(--font-regular) var(--h1-font-size) var(--second-font);
}
.info__image {
  position: relative;
  display: grid;
  border-radius: 2rem;
  background: var(--conic-gradient);
  height: 180px;
  margin-block: 1.5rem;
  overflow: hidden;
}

.info__img {
  position: absolute;
  width: 100%;
  transform: translateY(-22px);
  justify-self: center;
  filter: grayscale(0.8);
}

.info__description {
  font: var(--small-font-size);
  margin-bottom: 2rem;
}

.info .button {
  width: 100%;
}
/*===== ABOUT =====*/
.about__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  margin-bottom: 1rem;
}
.about__social {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-block: 2rem;
}
.about__link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 0.4s, color 0.4s;
}

.about__link:hover {
  background-color: var(--first-color);
  color: var(--white-color);
}
.about__image {
  background: var(--conic-gradient);
  height: 180px;
  display: grid;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}
.about__img {
  filter: grayscale(1) opacity(0.7);
  position: absolute;
  width: 120%;
  object-fit: cover;
  justify-self: center;
}

.about__note {
  font-size: var(--small-font-size);
  margin-block: 1rem 2rem;
}
.about .button {
  width: 100%;
}

/*===== SKILLS =====*/
.skills__title {
  font-size: var(--h2-font-size);
}
.skills__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  margin-block: 1.5rem;
}
.skills__item {
  width: 1.5rem;
  transition: transform 0.4s;
}
.skills__item:hover {
  transform: translateY(-0.25rem);
}
.skills__description {
  font-size: var(--small-font-size);
}

/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 2.5rem;
  border-radius: 4rem;
  transition: background-color 0.4s;
}

.button__black {
  background-color: var(--black-color);
}
.button:hover {
  background-color: var(--first-color-alt);
}

/*=============== PROJECTS ===============*/
.projects__card {
  background: var(--container-color);
  padding: 1.5rem;
  border-radius: 2rem;
}

.projects__image {
  display: block;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}

.projects__img {
  transition: transform 0.4s !important;
}

.projects__name {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}
.projects__description {
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.projects__skills {
  display: flex;
  align-items: center;
  border-radius: 4rem;
  column-gap: 0.75rem;
  width: max-content;
  background-color: var(--black-color);
  padding-inline: 0.75rem;
  height: 34px;
  margin-bottom: 1.5rem;
}
.projects__skill {
  width: 1rem;
  transition: transform 0.4s;
}
.projects__skill:hover {
  transform: translateY(-0.25rem);
}

.projects__button {
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: color 0.4s;
}
.projects__button i {
  font-size: 1.25rem;
}
.projects__button span {
  font-weight: var(--font-medium);
}

.projects__button:hover {
  color: var(--text-color);
}

.projects__card:hover .projects__img {
  transform: scale(1.2);
}
/*=============== SERVICES ===============*/
.services__card {
  background-color: var(--container-color);
  padding: 4rem 1.5rem 3.5rem;
  border-radius: 2rem;
}
.services__icon {
  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
}

.services__icon i {
  font-size: 2.5rem;
  position: relative;
  z-index: var(--z-tooltip);
}

.services__circle {
  width: 3rem;
  height: 3rem;
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
  transition: transform 0.4s;
}

.services__name {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}
.services__description {
  color: var(--text-color);
}
.services__card:hover .services__circle {
  transform: translate(0.25rem, -0.25rem);
}

/*=============== EXPERIENCE ===============*/
.experience__container {
  row-gap: 2rem;
}
.experience__card {
  display: grid;
  row-gap: 1rem;
}
.experience__company {
  font-size: var(--h2-font-size);
}

.experience__data {
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.experience__profession {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.experience__date {
  display: block;
  font-size: var(--smaller-font-size);
}

.experience__description {
  color: var(--text-color);
}

/*=============== CONTACT ===============*/
.contact__group,
.contact__form {
  gap: 1rem;
}
.contact__form {
  position: relative;
}
.contact__input {
  background-color: var(--container-color);
  padding: 1.25rem;
  border-radius: 4rem;
  color: var(--white-color);
}
.contact__input::placeholder {
  color: var(--text-color);
}
.contact__input:autofill {
  transition: background-color 10000s, color 10000s;
}
.contact__area {
  height: 10rem;
  border-radius: 1.5rem;
  resize: none;
}
.contact__button {
  margin-top: 1.5rem;
  cursor: pointer;
}
.contact__message {
  position: absolute;
  left: 0;
  bottom: 4.5rem;
  font-size: var(--smaller-font-size);
}
/*=============== FOOTER ===============*/
.footer {
  padding-block: 2rem 8rem;
}

.footer__container {
  row-gap: 2.5rem;
}

.footer__logo {
  color: var(--white-color);
  font: var(--font-regular) var(--biggest-font-size) var(--second-font);
  justify-self: center;
}

.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.footer__link {
  color: var(--white-color);
  transition: color 0.4s;
}

.footer__link:hover {
  color: var(--text-color);
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}

.footer__social-link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: 1.5rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
  transition: background-color 0.4s, color 0.4s;
}

.footer__social-link:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}

.footer__copy {
  display: block;
  margin-top: 4.5rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 30%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 40%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: hsla(0, 0%, 98%, 0.1);
  display: inline-flex;
  padding: 6px;
  color: var(--white-color);
  font-size: 1.25rem;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 0.5rem;
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}
.scrollup:hover {
  transform: translateY(-0.5rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 8rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }

  .nav {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .nav {
    width: max-content;
  }
  .nav__list {
    column-gap: 1.25rem;
  }
  .home__container,
  .projects__container,
  .services__container,
  .experience__container,
  .contact__container {
    grid-template-columns: 380px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .home__container {
    grid-template-columns: repeat(2, 350px);
    align-items: flex-start;
  }
  .perfil {
    height: 100%;
  }
  .projects__container,
  .services__container {
    grid-template-columns: repeat(2, 350px);
  }

  .experience__container {
    grid-template-columns: initial;
  }

  .experience__card {
    grid-template-columns: 320px 380px;
    align-items: center;
  }

  .footer__container,
  .footer__content {
    grid-template-columns: repeat(2, max-content);
    align-items: center;
  }
  .footer__container {
    justify-content: space-between;
  }
  .footer__content {
    column-gap: 4.5rem;
  }

  .show-scroll {
    bottom: 3rem;
  }
}

/* For large devices */
@media screen and (min-width: 1200px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 3rem 4rem;
  }

  .section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 4rem;
  }
  .home__container {
    grid-template-columns: 280fr 560fr 280fr;
    align-items: stretch;
  }
  .perfil {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding: 2rem;
  }

  .perfil__data {
    width: 370px;
    padding: 1.5rem;
    border-radius: 2rem;
  }
  .info {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .info__name {
    font-size: var(--h2-font-size);
  }
  .about {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-items: center;
  }
  .about__image {
    height: 210px;
  }

  .skills {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .skills__title {
    font-size: var(--h3-font-size);
  }

  .projects__container,
  .services__container {
    grid-template-columns: repeat(3, 368px);
    gap: 2rem;
  }
  .projects__card {
    padding-bottom: 2rem;
  }
  .services__card {
    padding-block: 6rem 5rem;
  }

  .services__icon i {
    font-size: 3.5rem;
  }

  .services__circle {
    height: 4rem;
    width: 4rem;
    right: -1.5rem;
    top: -1.5rem;
  }

  .experience__container {
    row-gap: 4rem;
  }

  .experience__card {
    grid-template-columns: 350px 510px;
    column-gap: 8rem;
  }
  .experience__company {
    font-size: var(--h1-font-size);
  }

  .experience__data {
    padding: 2rem;
    border-radius: 2rem;
  }

  .contact__container {
    grid-template-columns: 620px;
  }
  .contact__group {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact__area {
    height: 15rem;
  }
  .contact__button {
    width: max-content;
    justify-self: center;
  }
  .footer {
    padding-top: 3rem;
  }
  .footer__links {
    column-gap: 3rem;
  }
  .footer__copy {
    margin-top: 4.5rem;
  }
}

@media screen and (min-width: 1500px) {
  .nav {
    height: max-content;
    width: max-content;
    padding: 2rem 1rem;
    left: initial;
    right: 3rem;
    top: 0;
    bottom: 0;
    margin-block: auto;
  }
  .nav__list {
    flex-direction: column;
    row-gap: 1.25rem;
  }
  .footer {
    padding-block: 3rem;
  }
  .scrollup {
    right: 4rem;
  }
}
